{% extends "base.html" %} {% load staticfiles %} {% block title %}作品詳細{% endblock title %} {% block extrahead %}
<link href="{% static 'css/Item.css' %}" rel="stylesheet">
<style>
    table {
        margin-top: 8px;
    }
    
    div#wrapper {
        background-image: url("/static/img/Item/bg.jpg");
        background-repeat: repeat;
    }
</style>
{% endblock %} {% block main %}
<div id="main-visual" class="container">
    <div id="filter" class="row">
        <div class="main-contents" id="main">
            <div id="item-detail" class="rows">
                <h1>作品名 : {{ object.name }}</h1>
                <p>詳細 : {{ object.detail }}</p>
                <p>カテゴリ : {{ object.category }}</p>
                <p>chapter: {{ object.chapter }}</p>
                <p>Date: {{ object.date }}</p>
                <p>minne_url: {{ object.minne_url }}</p>
                <p>is_sold: {{ object.is_sold }}</p>
            </div>
        </div>
    </div>
</div>{% endblock main %}