{% extends "base.html" %} {% load staticfiles %} {% block header %}
<link href="{% static 'css/Artist.css' %}" rel="stylesheet"> {% endblock %} {% block main %}
<div class="main-contents">
    <div id="main-visual" class="container">
        <div id="Artist" class="row">
            <div class="col-md-8 col-xs-12">
                <h2 class="selection__item__label">{{ Artist }}</h2>
                <h3 class="selection__item__label">通称 : {{ nickname }}</h3>
                <div>画像</div>
                <p>{{comments}}コメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメントコメント</p>
            </div>
            <div class="twitter col-md-4 col-xs-12">
                <a class="twitter-timeline" width="420px" height="678px" data-border-color="#f5deb3" href={{ twitter }} data-theme="dark" data-chrome="noheader nofooter">Tweets by Hyu_HaLu</a>
                <script async src=" https://platform.twitter.com/widgets.js " charset="utf-8 "></script>
            </div>
        </div>
    </div>
</div>
{% endblock %}