* {
    transition: .35s ease-in-out;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-size: 14px;
    /*font-family: 'verdana', 'arial', 'helvetica', 'sans-serif';
    */
    font-family: 'Cambria', 'Lato', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
    background: #eee;
    -webkit-transition: all 1.0s;
    -moz-transition: all 1.0s;
    transition: all 1.0s;
}

strong.F {
    font-size: larger;
}

.welcome-title a {
    color: white;
}

#wrapper {
    /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -moz-transition: margin-left .25s linear;
    -webkit-transition: margin-left .25s linear;
    transition: margin-left .25s linear;
    min-height: 800px;
    z-index: 0;
}

#main {
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -moz-transition: margin-left .25s linear;
    -webkit-transition: margin-left .25s linear;
    transition: margin-left .25s linear;
    min-height: 800px;
    z-index: 100;
}

header {
    height: 60px;
    z-index: 300;
    box-shadow: 2px 2px 4px gray;
}

h3 {
    font-size: 131%;
    margin-bottom: .7em;
}

#copyright a {
    color: #666;
    text-decoration: none;
}

#copyright a:hover {
    text-decoration: underline;
}

#global-head h3 {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40%;
}

#brand-logo {
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

.menu-item {
    font-size: 133%;
}

footer {
    text-align: left;
    padding-top: 1em;
    /* 上下の余白 */
    width: 100%;
    background-color: #b1b4cf33;
    padding-left: 100px;
    color: whitesmoke;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -moz-transition: margin-left .25s linear;
    -webkit-transition: margin-left .25s linear;
    transition: margin-left .25s linear;
    box-shadow: 0 0 8px gray 3px 3px 8px rgba(255, 255, 255, 0.8) inset;
    z-index: 200;
}

.fa-white {
    color: white;
}

.fa-skyblue {
    color: skyblue;
}