#wrapper {
    background: linear-gradient(45deg, rgba(125, 216, 216, 0.6), rgba(49, 23, 245, 0.8));
}

.title-wrapper {
    background-color: #4b38382f;
    color: white;
    align-content: center;
    text-align: center;
}

#title {
    font-size: 24pt;
    font-style: italic;
    padding: 20px;
}

#sub_title {
    font-size: 24pt;
    font-style: italic;
}

#img-div img {
    width: 100%;
}


.main-cotents-wrapper {
    width: 100%;
    height: 100%;
}

.story-contents-wrapper {
    background-color: #4b38382f;
    color: white;
}

.story-contents {
    font-size: 120%;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    border-style: none;
    padding: 35px auto;
}

@-webkit-keyframes crossfade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes crossfade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
