{% extends "base.html" %} {% load staticfiles %} {% block header %}
<link href="{% static 'css/index.css' %}" rel="stylesheet"> {% endblock %} {% block main %}
<div class="main-contents row" id="main-wrapper">
    <div id="new" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <h2>What's New!!</h2>
        <div class="infobox">
            <ul>
                <li>サイト開設(2017/12/16) </li>
                <li>アイテム追加！！(2017/12/17)</li>
            </ul>
        </div>
    </div>
    <div id="main-visual" class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

    </div>
</div>
<script src="{% static 'js/index.js' %}" type="text/javascript" charset="utf-8"></script>

{% endblock %}