{% extends "about/Artist.html" %}{% block title %}作家 HaLu について{% endblock %} {% block Artist %}

<div id="Artist" class="row">
    <div class="col-md-8 col-xs-12">
        <div class="invite-container" >
            <div class="Haru-wrapper">  
               <h2 class="selection__item__label">HaLu</h2>
               <div class="HaLu-icon"><img src="/static/img/about/HaLu.jpg"></img></div>
            </div>    
        <div class="HaLu-comment">自作ファンタジー世界の「World of F ～Fの世界～」で使用されているアイテムや幻想的な風景を、 様々な素材を用いて表現しています。 自然と歴史が好き。</div>
        </div>
        <div class="action-wrapper">
            <h3>活動</h3>
            <ul>
                <li>2013年から各地イベントに参加。</li>
                <li>2018年からサイトを通じ、Fの世界のストーリーやアイテム設定なども公開し、活動を続けています。</li>
            </ul>
            <h3>イベント履歴</h3>
            <ul>
                <li>2016年5月14 - 15日 デザインフェスタ (暗いブース)</li>
                <li>2016年9月10 - 11日 SHOP peaberry(京都店舗) 委託</li>
                <li>2016年11月26 - 27日 デザインフェスタ (暗いブース)</li>
                <li>2016年11月 天体観測展</li>
                <li>2017年9月24日 <a href="https://hoshimori.jp/" target="_blank">星降る森の魔法市</a></li>
                <li>2017年11月11 - 12日 デザインフェスタ</li>
            </ul>
            <h3>イベント予定</h3>
            <ul>
                <li>2018年2月　<a href="https://minne.com/" target="_blank">minne</a> より随時通販</li>
                <li>2018年4月15日(日)<a href="https://hoshimori.jp/" target="_blank">星降る森の魔法市</a>＠神奈川県川崎市　（直接参加）</li>
            </ul>
        </div>

        <div>依頼やその他の問い合わせについては下記までご連絡ください。 　※返信は1週間以内にお送りいたします。 　lightwing77677☆yahoo.co.jp（☆→＠）
        </div>
    </div>
    <div class="twitter col-md-4 col-xs-12">
        <a class="twitter-timeline" width="420px" height="678px" data-border-color="#f5deb3" href="https://twitter.com/Hyu_HaLu?ref_src=twsrc%5Etfw" data-theme="dark" data-chrome="noheader nofooter">Tweets by Hyu_HaLu</a>
        <script async src=" https://platform.twitter.com/widgets.js " charset="utf-8 "></script>
    </div>
</div>{% endblock %}
