{% extends "about/Artist.html" %}{% block title %} Ken について{% endblock %} {% block Artist %}

<div id="Artist" class="row">
    <div class="col-md-8 col-xs-12">
        <div class="invite-container" >
            <div class="Haru-wrapper">  
               <h2 class="selection__item__label">KEN</h2>
               <div class="HaLu-icon"><!-- <img src="/static/img/about/HaLu.jpg"></img>--></div>
            </div>    
        <div class="HaLu-comment">へび年なので勝手に Python に運命を感じている理系。</div>
        </div>
        <div class="action-wrapper">
            <h3>活動</h3>
            <ul>
                <li>2014年 就職を通じ色々とプログラムを学ぶ</li>
                <li>2014年 Python と出会う</li>
                <li>2018年 サイトを公開する</li>
            </ul>
            <h3>イベント予定</h3>
            <ul>
                <li>2018年2月<a href="https://minne.com/" target="_blank">minne</a> より随時通販</li>
                <li>2018年4月15日(日)<a href="https://hoshimori.jp/" target="_blank">星降る森の魔法市</a>＠神奈川県川崎市　（直接参加）</li>
            </ul>
        </div>

        <div></div>
    </div>
    <div class="twitter col-md-4 col-xs-12">
 <a class="twitter-timeline" width="420px" height="678px" data-border-color="#f5deb3" href="https://twitter.com/brv_HK?ref_src=twsrc%5Etfw" data-theme="dark" data-chrome="noheader nofooter">Tweets</a>
        <script async src=" https://platform.twitter.com/widgets.js " charset="utf-8 "></script>
    </div>
</div>{% endblock %}
